#While Loop in Python

In [1]:
i=1
while i<6:
    print(i)
    i=i+1

1
2
3
4
5

In [2]:
i=1
while i<6:
    print("Sahiqur Rahman")
    i=i+1

Sahiqur Rahman
Sahiqur Rahman
Sahiqur Rahman
Sahiqur Rahman
Sahiqur Rahman

In [6]:
i=1
s=0
n=int(input("Enter the Vlaue of N="))
while i<n:
    s=s+i
    i=i+1
print(s)

Enter the Vlaue of N=5
10

In [7]:
i=1
while i<=6:
    print(i)
    if i==3:
        break
    i=i+1

1
2
3

In [8]:
i=1
n=int(input("Enter the Value N = "))
while i<=n:
    print(i)
    if i==5:
        break
    i=i+1

Enter the Value N = 10
1
2
3
4
5

In [3]:
i=0
n=int(input("Enter the Value N = "))
while i<=n:
    i=i+1
    if i==5:
        continue
    print(i)

Enter the Value N = 5
1
2
3
4
6

#For Loop in Python

In [6]:
a=["Sahiq","Robin","Mainuddin","Sabbir","Kobir"]
for x in a:
    print(x)

Sahiq
Robin
Mainuddin
Sabbir
Kobir

In [7]:
for i in "banana":
    print(i)

b
a
n
a
n
a

In [15]:
a=["Sahiq","Robin","Mainuddin","Sabbir","Kobir"]
for i in a:
    print(i)
    if i=="Robin":
        break

Sahiq
Robin

In [16]:
a=["Sahiq","Robin","Mainuddin","Sabbir","Kobir"]
for i in a:
    print(i)
    if i=="Sabbir":
        break

Sahiq
Robin
Mainuddin
Sabbir

In [18]:
a=["Sahiq","Robin","Mainuddin","Sabbir","Kobir"]
for i in a:
    if i=="Sabbir":
        break
print(x)

Kobir

In [21]:
a=["Sahiq","Robin","Mainuddin","Sabbir","Kobir"]
for i in a:
    if i=="Mainuddin":
        continue
    print(i)

Sahiq
Robin
Sabbir
Kobir

In [22]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [23]:
for i in range(2,6):
    print(i)

2
3
4
5

In [25]:
for i in range(2,30,3):
    print(i)

2
5
8
11
14
17
20
23
26
29

In [27]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [28]:
for i in range(6):
    print(i)
else:
    print("Finally Finished....!!!")

0
1
2
3
4
5
Finally Finished....!!!

In [33]:
for i in range(10):
    print(i)
    if i==4:
        break
else:
    print("Finally Finished....!!!!")

0
1
2
3
4

In [42]:
a=["Sahiq","Abir","Khalid","Tanvir"]
b=["Mango","Charry","Apple","Jackfruit"]
for x in a:
    for y in b:
        print(x,y)

Sahiq Mango
Sahiq Charry
Sahiq Apple
Sahiq Jackfruit
Abir Mango
Abir Charry
Abir Apple
Abir Jackfruit
Khalid Mango
Khalid Charry
Khalid Apple
Khalid Jackfruit
Tanvir Mango
Tanvir Charry
Tanvir Apple
Tanvir Jackfruit

In [4]:
a="I LOVE DATA SCIENCE  VERY MUCH"
for i in range(len(a)):
    print(a[i])

I

L
O
V
E

D
A
T
A

S
C
I
E
N
C
E


V
E
R
Y

M
U
C
H

In [6]:
a.split()

['I', 'LOVE', 'DATA', 'SCIENCE', 'VERY', 'MUCH']

In [13]:
a="I HAVE BEEN WORKING FOR MY COUNTRY SINCE MY CHILDHOOD"
a=a.split()
for i in range(len(a)):
    print(a[i],"=",i+1)

I = 1
HAVE = 2
BEEN = 3
WORKING = 4
FOR = 5
MY = 6
COUNTRY = 7
SINCE = 8
MY = 9
CHILDHOOD = 10

In [18]:
a=[2,4,5,7,2]
total=0
for i in a:
    total=total+i
print(total)

20

In [35]:
rows=4
for i in range(1,rows+1):
    for j in range(i):
        print("#", end='')
    print('')

#
##
###
####

In [6]:
rows=5
for i in range(1,rows+1):
    for j in range(i):
        print("#", end='')
    print("")

#
##
###
####
#####

In [48]:
rows=5
for i in range(rows):
    for j in range(1,rows):
        print("#",end="")
    print("")

####
####
####
####
####